.--eduscope-mod-html {
  width: 400px;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
}
#eduscope-mod-error {
  color: #f00;
}
.--eduscope-mod-body {
  padding: 0px 20px;
  border: 2px solid #0388fc;
}
.--eduscope-mod-options-container {
  font-size: 100%;
  text-align: center;
}
.--eduscope-mod-option-subtitle {
  font-size: 90%;
  color: #0073d6;
}
.--eduscope-mod-disabled {
  pointer-events: none;
  opacity: 0.5;
}
/* SELECTOR */
.--eduscope-mod-radio-toolbar {
  margin: 5px;
}

.--eduscope-mod-radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.--eduscope-mod-radio-toolbar label {
  display: inline-block;
  background-color: #000;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.--eduscope-mod-radio-toolbar label:hover {
  background-color: #00182e;
}

.--eduscope-mod-radio-toolbar input[type="radio"]:focus + label {
  border: 2px solid rgb(255, 0, 0);
}

.--eduscope-mod-radio-toolbar input[type="radio"]:checked + label {
  background-color: #004b8c;
  border-color: #0388fc;
}

/* END SELECTOR STYLES*/
